aside {
  overflow-y: auto; /* maakt de sidebar scrollbaar */
  scroll-behavior: smooth; /* soepel scrollen */
}


.year-title {
  font-size: 7rem;
  font-weight: 100;
  margin-left: 100px;
  margin-bottom: 2rem;
  transform: scaleY(1.3); 
  transform-origin: left;
}


.content-sections {
  flex: 1;
  padding-left: 10rem; /* ruimte voor de sidebar */
  position: relative;
  z-index: 20;
}

.overlay-content {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  max-width: 400px;
  z-index: 20;
  line-height: 2.1;
}

.item-title {
  font-size: 2.5rem;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 1rem;
}

.item-text {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.8;
  color: #ffffff;
}

.timeline-year {
  color: #ffffff80;
  transition: color 0.3s;
}

.timeline-year.active,
.timeline-year:hover {
  color: #ffffff; 
  text-shadow: 0 0 15px #fff, 0 0 30px #fff;
}