* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.hero {
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 1rem;
    background-color: var(--color-primary);
    color: var(--color-text);
}

.dark .hero {
    background-color: var(--color-primary-dark);
    color: var(--color-text-dark);
}

.hero-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    overflow: hidden;
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    will-change: transform;
    z-index: 1;
}

.hero-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem;
    color: var(--base-300);
    z-index: 2;
}

.header h1 {
    font-size: 12rem;
    font-weight: 500;
    letter-spacing: -0.25rem;
    line-height: 1;
    margin-bottom: 1rem;
}

.hero-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.hero-footer p {
    width: 25%;
    opacity: 1;
    text-align: right;
}

.contacyt-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.menu-btn {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    transform: translateX(-50%);
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.25rem 0.25rem 0.25rem 1.5rem;
    border-radius: 4rem;
    background-color: var(--color-accent);
    color: var(--color-primary);
    will-change: transform;
}

.dark .btn {
    background-color: var(--color-accent-dark);
    color: var(--color-primary-dark);
}

.btn-icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-primary);
    color: var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 100%;
}

.dark .btn-icon {
    background-color: var(--color-primary-dark);
    color: var(--color-accent-dark);
}

.btn-label span {
    font-size: 0.9rem;
    font-weight: 450;
    line-height: 1;
}

.preloader-progress, .preloader-mask, .preloader-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    pointer-events: none;
}

.preloader-progress {
    z-index: 1;
    background-color: var(--base-200);
    will-change: opacity;
}


.preloader-progress-bar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 55%;
    height: 100%;
    background-color: var(--accent); /* goed zichtbaar */
    transform-origin: left;
    will-change: transform;
}

.preloader-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    mix-blend-mode: difference;
    z-index: 2;
}

.preloader-logo h1 { 
    position: relative;
    color: var(--base-300);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}

.preloader-mask {
    background-color: var(--base-100);
    mask: linear-gradient(var(--base-300), var(--base-300)),
        url('/TheBeginning/mask.png') no-repeat center/50%;
    mask-composite: subtract; /* juiste spelling */
    will-change: transform;
    z-index: 1;
}

.preloader-content {
    z-index: 2;
}

.preloader-footer {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    text-align: center;
}

.preloader-footer p {
    color: var(--base-300);
    opacity: 0.5;
}

.line, .char {
    position: relative;
    padding-bottom: 0.2em;
    margin-bottom: -0.2em;
    will-change: transform;
}

@media (max-width: 800px) {
    .hero-inner {
        border-radius: 3rem;
    }

    .header h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        font-size: 4rem;
        letter-spacing: 0;
    }

    .hero-footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .hero-footer h3, .hero-footer p {
        width: 100%;
        text-align: left;
    }

    .hero-footer h3 {
        font-size: 1.25rem;
    }

    .menu-btn {
        position: absolute;
        top: 2rem;
        left: 2rem;
        transform: translateX(0%);
    }

    .preloader-progress-bar {
        left: 0%;
        width: 100%;
        transform: translateX(0%), scaleX(0);
    }

    .preloader-logo h1 {
        font-size: 2rem;
    }

    .preloader-mask {
        mask: linear-gradient(var(--base-300), var(--base-300)),
            url('/TheBeginning/mask.png') no-repeat center/90%;
    }

    .preloader-footer {
        width: 75%;
    }

}